<div class="flex justify-center items-center h-screen">
  <div class="w-[400px] bg-slate-50 shadow-lg rounded-lg flex flex-col items-center justify-center py-7">

    <span class="material-symbols-outlined text-red-500 text-6xl">error</span>
    <h1 class="font-title text-xl text-neutral-950">
      Something Went Wrong
    </h1>
    <p class="text-neutral-700">
      Please try again later or contact support.
    </p>
    <p-button class="mt-6" type="button" [raised]="true" severity="contrast" (click)="goBack()" label="Go Back" />
    <p-button class="mt-6" type="button" [raised]="true" severity="secondary" (click)="goHome()" label="Go Home" />
  </div>
</div>
