<footer class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <span class="ml-3 text-xl">PocketBase</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2  sm:mt-0"> © 2021
      PocketBase —
      <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
        target="_blank">knyttneve</a>
    </p>
    <span class="flex sm:ml-auto sm:mt-0 mt-4   sm:justify-center sm:items-center">
      <a class="text-gray-500">
        <i class="fab fa-apple" aria-hidden="true"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fab fa-amazon" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</footer>